@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

nav {
  display: flex;
  height: 100px;
  justify-content: space-around;
  background-color: ##fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.logo {
  width: 70px;
  object-fit: cover;
}
.nav-logo > h3 {
  font-size: 4rem;
  font-weight: 700;
}
.nav-logo > h3 > span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-manus {
  display: flex;
}
.nav-manus ul {
  display: flex;
  align-items: center;
}

.nav-manus li {
  list-style: none;
}
.nav-manus li a {
  text-decoration: none;
  margin-right: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #3c354f;
}
.follow-btn {
  text-align: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.2rem 1.5rem 1.2rem 1.5rem;
  border: none;
}

.banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
}
.banner-text {
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
}

.banner-section h3 {
  color: #0b0223;
  font-size: 4.5rem;
  font-weight: 600;
}
.banner-section h1 {
  font-size: 8rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-section p {
  margin: 1.2rem 0 2.5rem;
  color: #534c64;
  font-size: 1.8rem;
  font-weight: 500;
}

.sign-in-btn {
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  padding: 1.5rem 3rem;
  border: none;
}
.sign-in-btn a,
.go-rogue-btn a {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}

.go-rogue-btn {
  margin-left: 2rem;
  border-radius: 48px;
  background: #4ec5f7;
  padding: 1.5rem 3rem;
  border: none;
}
.banner-img-container {
  border: 1px solid red;
}
.banner-photo {
  width: 600px;
}
main {
  width: 1000px;
  margin: 0 auto;
}
.online-game-section {
  margin: 8rem auto;
}
.online-title {
  color: #0b0223;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
.title-span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-game-description {
  color: #534c64;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 3rem 0;
}

.online-watch-card {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}
.online-watch-card img {
  /* width: 100%; */
}
.hover-container {
  position: relative;
  width: 100%;
}

.hover-img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(30, 4, 4, 0.6);
}

.hover-container:hover .overlay {
  opacity: 1;
  height: 80%;
}

.icon {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.watch-now {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  top: 60%;
  left: 30%;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-user:hover {
  color: #eee;
}
#img-height {
  /* height: 300px; */
}
.text-ubder-card {
  color: #534c64;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 1rem 0;
}

.play-instant-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8rem;
}

.play-instant-text h3 {
  text-align: right;
  font-size: 4.5rem;
  color: #0b0223;
  font-weight: 700;
  line-height: 5rem;
  margin-bottom: 2rem;
}
.play-instant-text h3 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-instant-text p {
  text-align: right;
  color: #534c64;
  font-size: 1.5rem;
  line-height: 2rem; /* 166.667% */
}
.large-img {
  width: 80%;
  position: relative;
  top: 8rem;
  left: 10rem;
}
.small-img {
  width: 40%;
  position: relative;
  top: -90px;
  righ: 23rem;
}
.game-play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 4rem;
}
.game-play-btn div {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
}
.game-play-btn img {
  width: 50px;
}
.game-play-btn span {
  color: #0b0223;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 3rem;
}
footer {
  background: #0b0223;
  height: 400px;
  padding-top: 8rem;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.footer-logo h3 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
}
.footer-logo span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.other-link {
  display: flex;
  justify-content: center;
}
.other-link li {
  color: #fff;
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 3rem;
}
.social-icon {
  font-size: 3.5rem;
  text-align: center;
  margin: 3rem 0;
}
.social-icon i {
  margin-right: 3rem;
}
.term-policy,
footer > p {
  margin: 3rem;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  list-style-type: none;
}
.term-policy li {
  margin-right: 3rem;
}
